{% extends "base.html" %}
{% block content %}
{% if validlink %}
    <form action="" method="post">
    {% csrf_token %}
        <div class="login_wr">
            <div class="login_name">
                Введите новый пароль
            </div>
            <div class="login_wrapper">
                <div class="login_title">
                    Новый пароль
                </div>
                <div class="inp_login">
                    {{ form.new_password1 }}
                </div>
            </div>
            {{ form.new_password1.errors }}
            <div class="login_wrapper">
                <div class="login_title">
                    Подтверждение пароля
                </div>
                <div class="inp_login">
                    {{ form.new_password2 }}
                </div>
            </div>
            {{ form.new_password2.errors }}
            <div class="login_wrapper">   
                <input class="inp_login_us" type="submit" value="Подтвердить" />
            </div>
        </div>
    </form>
{% else %}
    <div class="reset_pass_wr_done">
        Ссылка уже была использована. Пожалуйста, повторите операцию сначала.
    </div>
{% endif %}
{% endblock %}