{% extends 'base.html' %}
{% block content %}
<div class="reset_pass_wr">
    <form class="form_email_reset" action="" method="post">
        {% csrf_token %}
        <div class="enter_correct_email">
            {% if form.email.errors %}
            {{ form.email.errors }}
            {% endif %}
        </div>
        <div class="login_wrapper email_wr">
            <div class="login_title">
                Ваш email
            </div>
            <div class="inp_login">
                {{ form.email }}
            </div>
        </div>
        <input type="submit" class="inp_email_us" value="Сбросить пароль" />
    </form>
</div>
{% endblock %}